
<div id="side-menu" class="sidebar side-menu" data-color="blue">
    <div class="logo user-info">
        @if (User.Identity.IsAuthenticated)
        {
          
      
            <span class="simple-text logo-mini">@User.Identity.Name</span>
            @foreach (var claim in User.Claims)
{
    @if(claim.Type=="role"){
        
    <div class="simple-text logo-normal">
        <span>@claim.Type: </span>
        <span>@claim.Value</span>
    </div>

    }
}
            
        }
        else
        {
            
            <span class="user-name">Guest</span>
        }
    </div>

<div class="sidebar-wrapper" id="sidebar-wrapper">

    <ul class="nav  nav-pills-info flex-column">
                    @foreach (var claim in User.Claims)
{
    @if(claim.Type=="role"){
         @if(claim.Value=="Member"){
                 
        <li class=""><a class="nav-link " href="#"><p>Dashboard</p></a></li>
        <li class=""><a class="nav-link " href="#"><p>My Dues</p></a></li>
        <li class=""><a class="nav-link " href="#"><p>My Contracts</p></a></li>
        <li class=""><a class="nav-link " href="#"><p>Quotes</p></a></li>
        <li class=""><a class="nav-link " href="#"><p>Simulators</p></a></li>
        <li class=""><a class="nav-link " href="#"><p>My Claims</p></a></li>
        <li class=""><a class="nav-link " href="#"><p>Agencies</p></a></li>
        

    }
            else
        {
              <li class=""><a class="nav-link " href="#"><p>Dashboard</p></a></li>
            <li class=""><a class="nav-link " href="#"><p>Contracts</p></a></li>
            <li class=""><a class="nav-link " href="#"><p>Claims</p></a></li>
        }
    }
}
 
    </ul>
</div>
</div>

<style>

.side-menu {
    position: sticky;

}

.side-menu .user-image {
    width: 50px !important; /* Adjusts the width of the image */
    height: 50px !important; /* Adjusts the height of the image */
    border-radius: 50%; /* Optional: makes the image circular */
    display: block; /* Centers the image in its container */
    margin: 0 auto 10px; /* Centers the image horizontally and adds space below */
}


.side-menu .user-info {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center; /* Centers the user information */
}

.side-menu .nav {
    display: block;
    flex-grow: 1; /* Allows the navigation to fill available space */
    overflow-y: auto; /* Adds scroll to nav if items exceed the available space */
}

.side-menu .nav-item {
    padding: 10px 15px;
}

.side-menu .nav-link {
    color: #333;
    transition: background-color 0.3s ease;
}

.side-menu .nav-link:hover {
    background-color: #f5f5f5;
}


.side-menu .footer-link {
    color: #333;
    transition: color 0.3s ease;
    padding: 0 5px; /* Adds padding around the links for better touch targets */
}

.side-menu .footer-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

</style>
