@model ClientAstree.Models.LoginVM
@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success my-0">
        @ViewBag.Message
    </div>
}
  <div class="page-header header-filter my-0" filter-color="blue">
    <div class="page-header-image" style="background-image:url(/img/fam1.png)"></div>
    <div class="content">
      <div class="container d-flex justify-content-center align-items-center ">
        <div class="col-md-5 ml-auto mr-auto">
          <div class="card card-pricing " style="background-color: #ffffffdc;">
            <div class="card-body">
            <form class="form"  asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />
              <div class="card-header text-center">
                <div class="logo-container icon icon-primary">
                  <img src="/img/logo.png" alt="">
                </div>
              </div>
              <div class="card-body">
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    @* <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span> *@
                  </div>
                                  @* <label asp-for="Email" class="control-label"></label> *@
               
                  <input type="email" asp-for="Email" class="form-control" placeholder="Email..." />
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    @* <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span> *@
                  </div>
                  <input asp-for="Password" type="password" class="form-control" placeholder="Password..."/>
                </div>
              </div>
              <span asp-validation-for="Email" class="text-danger"></span>
              <span asp-validation-for="Password" class="text-danger"></span>
              <div class="card-footer text-center">
                <input  class="btn btn-primary btn-round btn-lg btn-block" type="submit" value="Login"/>
              </div>
              <div class="pull-left">
                <h6>
                  <a href="#pablo" class="link footer-link">Create Account</a>
                </h6>
              </div>
              <div class="pull-right">
              </div>
            </form>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <footer class="footer footer-big" data-background-color="black">
            <div class="container">
              <div class="content">
                <div class="row">
                  <div class="col-md-4">
           
                    <div class="social-feed">
                                            <div class="feed-line">
                        <img src="/img/logo-white.png" alt="">
                      </div>
                               <br>
                      <div class="feed-line">
                    
                        <p>Vous voulez fractionner le paiement de votre prime d’assurance Auto chez ASTREE sur une année et sans intérêts ?
Oui c’est possible...</p>
                      </div>
                      <div class="feed-line">
                     
<p>En savoir plus</p>                      </div>

                    </div>
                  </div>
                  <div class="col-md-2">
                    <h5>Côté Pratique</h5>
                    <ul class="links-vertical">
                      <li>
                        <a href="https://www.astree.com.tn/taches-courantes/remplir-un-constat/" class="text-muted">
                          Remplir un constat ?
                        </a>
                      </li>
                      <li>
                        <a href="https://www.astree.com.tn/taches-courantes/foires-aux-questions/" class="text-muted">
                          Foires aux Questions 
                        </a>
                      </li>
                      <li>
                        <a href="https://www.astree.com.tn/taches-courantes/glossaire/" class="text-muted">
                          Glossaire
                        </a>
                      </li>
                      <li>
                        <a href="https://www.astree.com.tn/taches-courantes/liens-utiles/" class="text-muted">
                          Liens utiles
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <h5>Siège Social</h5>
                    <ul class="links-vertical">
                      <li>
                        <a href="#pablo" class="text-muted">
                          45, Avenue Kheireddine Pacha,
B.P. 780 TUNIS Cedex
                        </a>
                      </li>
                      <li>
                        <a href="#pablo" class="text-muted">
                         (+216) 71 90 42 11
                        </a>
                      </li>
                      <li>
                        <a href="#pablo" class="text-muted">
                          courrier@astree.com.tn
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <ul class="social-buttons">
                      <li>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter btn-round">
                          <i class="fab fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook btn-round">
                          <i class="fab fa-facebook-square"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-dribbble btn-round">
                          <i class="fab fa-dribbble"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-round">
                          <i class="fab fa-google-plus"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-instagram btn-round">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                    <h5>
                      <small>Numbers Don't Lie</small>
                    </h5>
                    <h5>14.521
                      <small class="text-muted">Freelancers</small>
                    </h5>
                    <h5>1.423.183
                      <small class="text-muted">Transactions</small>
                    </h5>
                  </div>
                </div>
              </div>
              <hr>
              <div class="copyright">
                Copyright ©
                <script>
                  document.write(new Date().getFullYear())
                </script>2024 Creative Tim All Rights Reserved.
              </div>
            </div>
          </footer>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}